<div class="large-6 large-centered columns">
  <%- if @user.errors.present? -%>
  <div class="alert-box alert" data-alert>
    <ul>
      <%- @user.errors.full_messages.each do |error| -%>
        <li><%= error %></li>
      <%- end %>
    </ul>
  </div>
  <%- end %>
</div>
<%- if @user.access_privilege(current_user) -%>
  <div class="text-center">
    <h3>Edit Account information</h3>
  </div>
  <div class="large-6 large-centered columns panel">
  <%= render 'form' %>
<%- else %>
  You do not have permission to edit this user's information
<%- end -%>
